In [25]:
import pandas as pd

In [26]:
# HF dataset taken from:
# https://www.kaggle.com/datasets/asgharalikhan/mortality-rate-heart-patient-pakistan-hospital

HF_Dataset = 'HFDataset.csv'
data = pd.read_csv(HF_Dataset)
data.head()

,Age,Age.Group,Gender,Locality,Marital status,Life.Style,Sleep,Category,Depression,Hyperlipi,...,oldpeak,slope,ca,thal,num,SK,SK.React,Reaction,Mortality,Follow.Up
0,45,41-50,Female,RURAL,MARRIED,NO,NO,FREE,YES,YES,...,3.0,2,0,7,2,1,NO,0,0,60
1,51,51-60,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,1.2,2,0,7,2,1,NO,0,0,15
2,55,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,3.4,2,0,3,2,1,NO,0,0,6
3,55,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,2.0,2,1,7,3,1,NO,0,0,52
4,56,51-60,Female,RURAL,MARRIED,YES,NO,FREE,YES,YES,...,4.0,3,2,7,3,1,NO,0,0,34

In [27]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 60 columns):
 #   Column                                                                                    Non-Null Count  Dtype
---  ------                                                                                    --------------  -----
 0   Age                                                                                       368 non-null    int64
 1   Age.Group                                                                                 368 non-null    object
 2   Gender                                                                                    368 non-null    object
 3   Locality                                                                                  368 non-null    object
 4   Marital status                                                                            368 non-null    object
 5   Life.Style                                                                                368 non-null    object
 6   Sleep                                                                                     368 non-null    object
 7   Category                                                                                  368 non-null    object
 8   Depression                                                                                368 non-null    object
 9   Hyperlipi                                                                                 368 non-null    object
 10  Smoking                                                                                   368 non-null    object
 11  Family.History                                                                            368 non-null    object
 12  F.History                                                                                 368 non-null    int64
 13  Diabetes                                                                                  368 non-null    int64
 14  HTN                                                                                       368 non-null    object
 15  Allergies                                                                                 368 non-null    object
 16  BP                                                                                        368 non-null    float64
 17  Thrombolysis                                                                              368 non-null    int64
 18  BGR                                                                                       368 non-null    int64
 19  B.Urea                                                                                    368 non-null    float64
 20  S.Cr                                                                                      368 non-null    float64
 21  S.Sodium                                                                                  368 non-null    int64
 22  S.Potassium                                                                               368 non-null    float64
 23  S.Chloride                                                                                368 non-null    int64
 24  C.P.K                                                                                     368 non-null    int64
 25  CK.MB                                                                                     368 non-null    int64
 26  ESR                                                                                       368 non-null    int64
 27  WBC                                                                                       368 non-null    int64
 28  RBC                                                                                       368 non-null    float64
 29  Hemoglobin                                                                                368 non-null    float64
 30  P.C.V                                                                                     368 non-null    float64
 31  M.C.V                                                                                     368 non-null    float64
 32  M.C.H                                                                                     368 non-null    float64
 33  M.C.H.C                                                                                   368 non-null    float64
 34  PLATELET_COUNT                                                                            368 non-null    int64
 35  NEUTROPHIL                                                                                368 non-null    float64
 36  LYMPHO                                                                                    368 non-null    float64
 37  MONOCYTE                                                                                  368 non-null    float64
 38  EOSINO                                                                                    368 non-null    int64
 39  Others                                                                                    368 non-null    object
 40  CO                                                                                        368 non-null    object
 41  Diagnosis                                                                                 368 non-null    object
 42  Hypersensitivity                                                                          368 non-null    object
 43  cp                                                                                        368 non-null    int64
 44  trestbps                                                                                  368 non-null    int64
 45  chol                                                                                      368 non-null    int64
 46  fbs                                                                                       368 non-null    int64
 47  restecg                                                                                   368 non-null    int64
 48  thalach                                                                                   368 non-null    int64
 49  exang                                                                                     368 non-null    int64
 50  oldpeak                                                                                   368 non-null    float64
 51  slope                                                                                     368 non-null    int64
 52  ca                                                                                        368 non-null    int64
 53  thal                                                                                      368 non-null    int64
 54  num                                                                                       368 non-null    int64
 55  SK                                                                                        368 non-null    int64
 56  SK.React                                                                                  368 non-null    object
 57  Reaction                                                                                  368 non-null    int64
 58  Mortality                                                                                 368 non-null    int64
 59  Follow.Up                                                                                 368 non-null    int64
dtypes: float64(14), int64(28), object(18)
memory usage: 172.6+ KB
None

In [30]:
print(data.head())

   Age Age.Group  Gender Locality   Marital status                         \
0   45     41-50  Female      RURAL                               MARRIED
1   51     51-60  Female      URBAN                               MARRIED
2   55     51-60  Female      RURAL                               MARRIED
3   55     51-60  Female      RURAL                               MARRIED
4   56     51-60  Female      RURAL                               MARRIED

  Life.Style                                                                                \
0                                                 NO
1                                                 NO
2                                                YES
3                                                YES
4                                                YES

  Sleep Category Depression Hyperlipi  ... oldpeak slope  ca  thal num SK  \
0    NO     FREE        YES       YES  ...     3.0     2   0     7   2  1
1    NO     FREE        YES       YES  ...     1.2     2   0     7   2  1
2   YES     FREE        YES       YES  ...     3.4     2   0     3   2  1
3   YES     FREE        YES       YES  ...     2.0     2   1     7   3  1
4    NO     FREE        YES       YES  ...     4.0     3   2     7   3  1

   SK.React  Reaction  Mortality  Follow.Up
0        NO         0          0         60
1        NO         0          0         15
2        NO         0          0          6
3        NO         0          0         52
4        NO         0          0         34

[5 rows x 60 columns]

In [32]:
data = datalist
unique_list = []
    for x in datalist['other']:
        if x not in unique_list:
            unique_list.append(x),
    for x in unique_list:
        print(x)

IndentationError: unexpected indent (<ipython-input-32-b488c61340bb>, line 3)

In [33]:
#Copied API command:
kaggle datasets download -d asgharalikhan/mortality-rate-heart-patient-pakistan-hospital

SyntaxError: invalid syntax (<ipython-input-33-a2d776a055c1>, line 2)